<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRG2_20232_P7_3_90.Properties.Settings.P5_90ConnectionString"
            connectionString="Data Source=LAPTOP-Q205KVH8;Initial Catalog=P5_90;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>